/* ----Спецификация ----*/

body {
    font-family: 'Tahoma', sans-serif;
    font-size: 15px;
    color: #000;
    padding: 0;
    margin: 0;
}
   
div, p, form, input, a, span, button {
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4em;
    box-sizing: border-box;
}

ul, li {
    display: block;
    padding: 0;
    /* margin: 0 0 20px 0; */
    font-size: 16px;
    font-weight: 700;
}

li p {
    color: #2D63EB;
    margin-left: 40px;
}

li span {
    font-size: 15px;
    font-weight: 400;
    color: #2F383B7A;
    display: block;
    margin-top: 8px;
    width: 200px;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.15em;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

a, a:hover, a:active {
    text-decoration: none;
}

/* ----Первая секция---- */

.header-section {
    background: linear-gradient(127deg, #4A7DFC 2.76%, #1148D3 82.86%);
    padding: 47px 0 48px;
}

.header {
    flex-direction: column;
    align-items: center;
}

.logo_name {
    color: rgba(255, 255, 255, 1);
    font-family: Lifehack;
    font-size: 27px;

}

.main_title{
    color: #fff;
    font-size: 27px;
    margin-top: 135px;
    width: 578px;
    max-width: 100%;
    display: block;
    text-align: center;
}

.contact_with_me {
    background: transparent;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #FFF;
    border-radius: 27px;
    padding: 20px 0;
    margin-top: 73px;
    width: 217px;
    max-width: 100%;
    text-align: center;
}

.vector {
    margin-top: 173px;
}

/* ----Вторая секция---- */

.section_about {
    margin-top: 139px;
    margin-bottom: 34px;
}

.about_myself {
    align-items: center;
}

.reasons {
    align-items: center;
    align-content: center;
    justify-content: center;
}
.why_me {
    font-size: 26px;
    line-height: normal;
    margin-bottom: 53px;
    text-align: center;
}

.why_me_list {
    display: flex;
    gap: 47px;
    flex-wrap: wrap;
}
.smart_wise {
    font-size: 16px;
    margin-right: 94px;
    
}

.beautiful {
    
}

.girsl_love {
    margin-bottom: 0;
}

.why_me_list li span {
    display: block;
    font-size: 30px;
    font-weight: 400;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    background: #fff;
    color: #FFA200;
    border: 1px solid #FFA200;
    border-radius:50%;
    text-align: center;
    padding: 18px;
    margin-left: 43.5px;
    margin-bottom: 23px;
}

.smart_wise:hover::before{
    content: '1';
    font-size: 30px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    background: #FFA200;
    color: #fff;
    border: 1px solid #FFA200;
    border-radius:50%;
    text-align: center;
    padding: 18px;
    margin-left: 43.5px;
    margin-bottom: 23px;
}

.beautiful::before {
    content: '2';
    font-size: 30px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    background: #fff;
    color: #FFA200;
    border: 1px solid #FFA200;
    border-radius:50%;
    text-align: center;
    padding: 18px;
    margin-left: 55.5px;
    margin-bottom: 23px;
}

.beautiful:hover::before{
    content: '2';
    font-size: 30px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    background: #FFA200;
    color: #fff;
    border: 1px solid #FFA200;
    border-radius:50%;
    text-align: center;
    padding: 18px;
    margin-left: 55.5px;
    margin-bottom: 23px;
}

.girsl_love::before {
    content: '3';
    font-size: 30px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    background: #fff;
    color: #FFA200;
    border: 1px solid #FFA200;
    border-radius:50%;
    text-align: center;
    padding: 18px;
    margin-left: 65px;
    margin-bottom: 23px;
}

.girsl_love:hover::before{
    content: '3';
    font-size: 30px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    background: #FFA200;
    color: #fff;
    border: 1px solid #FFA200;
    border-radius:50%;
    text-align: center;
    padding: 18px;
    margin-left: 65px;
    margin-bottom: 23px;
}

.about_me {
    text-align: center;
}

.goals_history {
    margin-top: 222px;
}
.goals_history_elems{
    justify-content: center;
    margin-top: 141px;
}

.mission_article {
    padding-left: 14px;
    font-size: 22px;
}

.mission_underline {
    background: #2D63EB;
    height: 2px;
    width: 113px;
    margin-top: 13px;
}

.mission_desc_start{
    width: 680px;
    padding: 45px 0 0 14px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.mission_desc_finish {
    width: 670px;
    padding: 28px 0 50px 14px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.mission_desc_finish span {
    color: #2D63EB;
    text-decoration-line: underline;
    text-underline-offset: 3px ;
}

.history {
    margin-left: 130px;
}

.history_article {
    padding-left: 15px;
    font-size: 22px;
}
.history_underline {
    background: #2D63EB;
    height: 2px;
    width: 115px;
    margin-top: 13px;
}

.history_list {
    margin-top: 41px;
}

/* ----Третья секция--- */

.i_think {
    background: #E6E9F1;
    padding: 130px 0;
}

.contact {
    flex-direction: column;
    align-items: center;
}

.container_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.i_think_title {
    text-align: center;
}

.i_think_desc {
    width: 420px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 50px 0;
}

.contact_btn {
    background: #2D63EB;
    color: #FFF;
    display: block;
    text-align: center;
    width: 218px;
    padding: 20px 35px;
    border-radius: 27px;
}

/* ----Четвертая секция--- */

.footer_section {
    background: #06319E;
    color: #fff;
    padding: 57px 0 37px;
}

.footer_content {
    align-items: center;
    justify-content: space-between
}

.container {
    margin: 0 426px;
}

.all_rights {
    color:rgba(255, 255, 255, 0.50);
}

.all_rights:hover {
    color: #fff;
    text-decoration: underline dotted;
    text-underline-offset :8px;
}