/* ----Спецификация ----*/

body {
    font-family: 'Tahoma', sans-serif;
    font-size: 15px;
    color: #000;
    padding: 0;
    margin: 0;
}
   
div, p, form, input, a, span, button {
    box-sizing: border-box;
}

.container {
    max-width: 1091px;
    width: 100%;
    margin: 0 auto;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4em;
    box-sizing: border-box;
}

ul, li {
    display: block;
    padding: 0;
}

li span {
    font-size: 15px;
    font-weight: 400;
    color: #2F383B7A;
    display: block;
    margin-top: 8px;
    width: 200px;
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.15em;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

a, a:hover, a:active {
    text-decoration: none;
}

/* ----Первая секция---- */

.header-section {
    background: linear-gradient(127deg, #4A7DFC 2.76%, #1148D3 82.86%);
    padding: 47px 0 48px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    

.header_title{
    color: #ffffff;
    font-size: 27px;
    margin-top: 135px;
    width: 578px;
    max-width: 100%;
    display: block;
    text-align: center;
}

.header_contact {
    background: transparent;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #FFF;
    border-radius: 27px;
    padding: 20px 0;
    margin-top: 73px;
    width: 217px;
    max-width: 100%;
    text-align: center;
}

.vector {
    margin-top: 173px;
    cursor: pointer;
}

/* ----Вторая секция---- */

.section_reasons {
    padding: 139px;
    padding-bottom: 34px;
}

.reasons_why_me {
    font-size: 26px;
    line-height: normal;
    margin-bottom: 53px;
    text-align: center;
}

.reasons_arguments {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reasons_list {
    display: flex;
    gap: 47px;
    flex-wrap: wrap;
}

.reasons_list_elem {
    font-size: 16px;
    font-weight: 700;
}

.reasons_list_elem span {
    display: block;
    font-size: 30px;
    font-weight: 400;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    background: #fff;
    color: #FFA200;
    border: 1px solid #FFA200;
    border-radius:50%;
    text-align: center;
    padding: 18px;
    margin: 0 auto;
    margin-bottom: 23px;
    
}

.reasons_list_elem span:hover{
    font-size: 30px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    background: #FFA200;
    color: #fff;
    border: 1px solid #FFA200;
    border-radius:50%;
    text-align: center;
    padding: 18px;
    margin: 0 auto;
    margin-bottom: 23px;
}
/* ----Третья секция---- */


.about_me {
    text-align: center;
}

.goals_history {
    padding-top: 222px;
    padding-bottom: 54px;
}
.goals_history_elems{
    justify-content: center;
    margin-top: 141px;
}

.mission {
    padding-left: 20px;
}

.mission_title {
    font-size: 22px;
}

.mission_underline {
    background: #2D63EB;
    height: 2px;
    width: 113px;
    margin-top: 13px;
    margin-left: -20px;
}

.mission_article {
    margin-top: 45px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.mission_article a {
    color: #2D63EB;
    text-decoration-line: underline;
    text-underline-offset: 3px ;
}

.history {
    margin-left: 130px;
}

.history_list {
    margin-top: 41px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.history_list_text {
    color: #2D63EB;
    margin-left: 40px;
}

.history_list_title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.history_list_title ::first-letter {
    text-transform: uppercase;
}
/* ----Четвертая секция--- */

.i_think {
    background: #E6E9F1;
    padding: 130px 0;
}

.contact {
    flex-direction: column;
    align-items: center;
}

.i_think_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.i_think_title {
    text-align: center;
}

.i_think_desc {
    width: 420px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 50px 0;
}

.contact_btn {
    background: #2D63EB;
    color: #FFF;
    display: block;
    text-align: center;
    width: 218px;
    padding: 20px 35px;
    border-radius: 27px;
}

/* ----Пятая секция--- */

.footer_section {
    background: #06319E;
    color: #fff;
    padding: 57px 0 37px;
}

.footer_content {
    align-items: center;
    justify-content: space-between;
}

.all_rights {
    color:rgba(255, 255, 255, 0.50);
}

.all_rights:hover {
    color: #fff;
    text-decoration: underline dotted;
    text-underline-offset :8px;
}